<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gas.zhihu">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>

        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

           <meta-data
            android:name="com.gas.zhihu.app.GlobalConfiguration"
            android:value="ClientConfigModule" />
    </application>

</manifest>