<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gas.flutterplugin">

    <application>
        <activity android:name=".learn.TurnToFlutterActivity"/>
        <activity android:name=".learn.InsertAndroidViewFlutterWidget" />
        <activity android:name=".learn.JumpActivityFlutterWidget" />
        <activity android:name=".learn.TestActivity" />
        <activity android:name=".learn.PageFlutterActivity" />
        <activity android:name=".FlutterBridgeActivity" />
    </application>

</manifest>