<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gas.test">

    <application>
        <activity
            android:name=".ui.activity.trans.TransActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparent_activity_style" />
        <meta-data
            android:name="com.gas.test.app.GlobalConfiguration"
            android:value="ClientConfigModule" />
    </application>

</manifest>