<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gas.test">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>

        <meta-data
            android:name="com.gas.test.app.GlobalConfiguration"
            android:value="ClientConfigModule" />
        <activity
            android:name=".ui.activity.trans.TransActivity"
            android:theme="@style/transparent_activity_style" />

        <activity
            android:name=".learn.lesson001_lifecycle.TransActivity"
            android:theme="@style/transparent_activity_style" />
        <activity
            android:name=".ui.activity.trans.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.album.BrowseAlbumActivity"
            android:screenOrientation="portrait" />

        <!--activity跳转的 lifecycle 测试 -->
        <activity
            android:name=".learn.lesson001_lifecycle.SecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".learn.lesson001_lifecycle.MainActivity"
            android:screenOrientation="portrait" />
        <!--activity跳转的 启动模式 测试 -->
        <activity
            android:name=".learn.lesson002_lauchmode.AStandardActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".learn.lesson002_lauchmode.TopActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".learn.lesson002_lauchmode.TaskActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


    </application>

</manifest>